# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
env/

# Flask & Session Data
# 不上传任何会话或用户上传的图片
static/sessions/

# IDE & Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
